@import "./../../styles/index.scss";

.card {
    border-radius: $border-radius !important;
    color: #fff;
    margin-bottom: 16px;
    background-color: #fff;
    .MuiCardContent-root{
      padding: 19px !important;
    .nameCard {
        font-family: system-ui;
        padding: 1.6rem 1.2rem;
        border-radius: 16px;
        color: #fff;
        font-size: 6px;
        p {
            font-size: 13px;
            display: flex;
            font-weight: 600;
            font-family: system-ui;
        }
        .avatar {
            width: 70px;
            height: 65px;
            border-radius: 12px;
        }
    }
    .title {
        font-size: 20px !important;
        font-weight: bold;
        font-family: system-ui;
    }
    .titleCourse {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        font-family: system-ui;
    }
    .date {
        font-size: 12px;
        color: #2E333B;
    }
    .buttons {
        display: flex;
        .deleteButton{
            border-radius: 18px;
            padding: 5px 24px;
            background-color: rgb(255, 229.5, 229.5);
            border-color: rgb(255, 229.5, 229.5);
            font-weight: 600;
            font-size: 13px;
            text-transform: capitalize;
        }
        .editButton{
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            color: #0E51F1;
        }
    }
}
        .webinarTitle {
            font-family: system-ui;
            font-size: 15px;
            font-weight: 600;
        }
}