.addModal{
   .modalTitle{
    font-size: 15px;
    font-weight: 600;
    padding: 12px 18px;
   }
   .modalForm{
    padding: 6px 8px;
    .contentHeading{
        .mainHeading{
            font-size: 14px;
            font-weight: 600;
            padding-left: 16px;
        }
        svg{
            font-size: 20px;
            font-weight: 600;
        }
        .instructionBlock{
            padding-left: 2rem;
        }

    }
    .inputLabel{
        font-size: 11px;
        font-weight: 600;
    }
    .formField{
        input {
            border-radius: 8px;
            background: #F2F4F8;
            padding: 6px 10px;
            font-size: 14px;
            &::placeholder {
                color: black; // Change this to your desired color
                opacity: 1; // Prevent the opacity from being reduced
                font-size: 12px;
            }
        }
        
        fieldset{
            border-radius: 8px;
        }
        .customSelect {
            height: 32px;
            font-size: 12px; 
            background-color: #F2F4F8;
            .MuiSelect-select {
                padding: 10px;
            }
        }
    }
   }
}

.buttonGroup {
    display: flex;
    justify-content: start;
    gap: 12px;
    button{
        font-size: 12px;
        text-transform: capitalize;
    }
  }
  