@import "./../../styles/index.scss";

.searchAndFilter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .search {
        flex-grow: 1;
        margin-right: 16px;
        max-width: 364px;
        fieldSet{
            border-radius: 8px !important;
            font-size: 14px;
        }
        input{
            font-size: 14px;
        }
    }
    .filter {
        width: 200px;
        border-radius: 8px;
    }
    .dropdown{
        .customSelect {
                height: 36px;
                font-size: 14px;
                color: #0E1013;
                text-align: justify;
                 .MuiSelect-select {
                    padding: 10px;
                }
            }
        fieldSet{
            border-radius: 8px !important;
        }
    }
}